.list {
   
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 20px;
ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:  20px;
    list-style: none;
}
   
}