.list {
   
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
ul {
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
// display: flex;
// flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}
   
}