/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
.window {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(109, 109, 110, 0.7);/* Black w/ opacity */
    overflow: auto;
    .data {
        box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
        background-color: #181818;
        position: relative;
        width: 80%;
        height: 80%;
        animation-name: animatetop;
        animation-duration: 0.4s;
        overflow: auto; /* Enable scroll if needed */
    .close {
        font-size: 26px;
        top: 20px;
        position: absolute;
        right: 20px;
        cursor: pointer;
    }

.movie {
    
    display: flex;
   
    align-items: center;
    justify-content: center;
    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .vote {
            display: flex;
            gap: 5px;
            align-items: center;
        }
        .genre {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .lang {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .images {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 200px;
            height: 200px;
        }
        p {
            width: 80%;
            word-wrap: break-word;
            overflow-wrap: break-word;
            letter-spacing: 2px;
            word-spacing: 2px;
            border-spacing: 1px;
            line-height: 30px;
            
        }
    }
}
    }
}