@media screen and (max-width:992px) {
    .dropdown {
        //flex-direction: column;
    }
}
.languages {
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    .box {
        display: flex;
        flex-direction: column;
        gap: 20px;
       
        .dropdown {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            
            .drop {
                display: flex;
                gap: 10px;
                align-items: center;
                select {
                    
                    background-color: black;
                    border: 1px solid white;
                    color: white;
                    outline: none;
                    padding: 5px;
                    cursor: pointer;
                }
            }
        }
        ul {
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
            place-items: center;
         // display: flex;
         // flex-wrap: wrap;
             list-style: none;
             gap: 20px;
        }
    }
}