.v-nav {
   
    top: 100px;
    left: 0;
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
    font-family: Arial, Helvetica, sans-serif;
    nav {
        // padding-left: 20px;
        // display: flex;
        // flex-direction: column;
        // gap: 20px;
        width: 100%;
        height: 100%;
    ul {
       
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        .active {
            background-color: red;
            width: max-content;
        }
        li {
            font-size: 20px;
            color: #fff;
        }
        a {
            padding: 5px;
            border-radius: 5px;
        }
    }
   
}
}
