.video {
    position:absolute;
    top: 0;
    z-index: 99;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .video::-webkit-scrollbar {
        overflow: hidden;
    }
    .show {
        position: relative;
        height: 100%;
        width: 100%;
        cursor: pointer;
        .volume {
            position: absolute;
            bottom: 0;
            right: 20px;
           font-size: 26px;
           opacity: 0.5;
           border-radius: 50%;
           border: 1px solid white;
           display: flex;
           align-items: center;
           justify-content: center;
           &:hover {
            opacity: 1;
           }
        }
        iframe,video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.3rem;
           
        }
    }
}